<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">All You Want Is Weather</h1>
          <p class="lead">Please Search your City here</p>
          <div class="search-container">
            <form #searchForm="ngForm" (submit)='onSubmit()'>
              <div class="input-group">
                  <input type="text" 
                          #search
                          class="form-control" 
                          placeholder="City Name"
                          name="cityname"
                          aria-label=""
                          aria-describedby="basic-addon1"
                          ngModel>
                  <div class="input-group-append">
                      <button type="submit" class="btn btn-primary">Search</button>
                  </div>
              </div>
            </form>
          </div>
        </div>
</div>
<router-outlet></router-outlet>